<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tech Blog</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="icon" type="image/png" sizes="16x16 " href="/images/tech-blog-logo-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/tech-blog-logo-32x32.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>

<body>
  <div class="container-fluid vw-100">
    <header class="row py-3">
      <div id="header-logo" class="col-12 col-md-4">
        <a href="/"><img id="logo" src="/images/tech-blog-logo.png" alt="logo"></a>
        <a href="/"><img id="logo-text" src="/images/tech-blog-logo-text.png" alt="tech blog"></a>
      </div>
      <nav class="col-12 col-md-8">
        <!-- Conditionally render login or logout links -->
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/">Homepage</a>
          </li>
          {{#if logged_in}}
          <li class="nav-item">
            <a class="nav-link" href="/newpost">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">My Dashboard</a>
          </li>
          <li class="nav-item">
            <div role="button" class="nav-link" id="logout">Logout</div>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main class="row p-3 justify-content-center">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="row py-3">
      <div class="col-12">
        <ul>
          <li><a href="https://github.com/benjstorlie/tech-blog">Github Repo</a></li>
          <li><a href="https://github.com/benjstorlie/">My Github Page</a></li>
          <li><a href="https://benjstorlie.github.io/">My Website</a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
