<div class="col-12">
  <div class="card">
    <div class="card-body">
    <form id="new-post-form">
      <div class="form-group">
        <label for="blogpost-title">Title:</label>
        <input type="text" class="form-control" id="blogpost-title" value= 
        "" placeholder="Post Title"></input>
       <div class="invalid-feedback">
          Title must not be blank
        </div>
      </div>
      <div class="form-group">
        <label for="blogpost-body">Body</label>
        <textarea class="form-control" id="blogpost-body" rows="5" placeholder="Write your content here."></textarea>
       <div class="invalid-feedback">
          Post body must not be blank.
        </div>
      </div>
      <div class="form-row pl-4">
        {{#each tags as |tag|}}
          <div class="form-check col-4 col-md-3 col-lg-2 col-xl-1">
          <input class="form-check-input" type="checkbox" value="" id="tag-{{tag.id}}" data-tagId="{{tag.id}}">
          <label class="form-check-label" for="tag-{{tag-id}}">
            {{tag.tagName}}
          </label>
        </div>
        {{/each}}
      </div>
      <button type="submit" id="submit-post" class="btn">Submit</button>
      <div id="post-status" class="btn d-none">posting....</div>
    </form>
    </div>
  </div>
</div>

    <script src="/js/newpost.js"></script>