<div class="col-12">
  <div class="card">
    <div class="card-body">
    <form id="new-post-form">
      <div class="form-group">
        <label for="blogpost-title">Title:</label>
        <input type="text" class="form-control" id="blogpost-title" value="Test Title"></input>
       <div class="invalid-feedback">
          Title must not be blank
        </div>
      </div>
      <div class="form-group">
        <label for="blogpost-body">Body</label>
        <textarea class="form-control" id="blogpost-body" rows="5">This is test blog text.</textarea>
       <div class="invalid-feedback">
          Post body must not be blank.
        </div>
      </div>
      <div class="form-group">
        <label for="select-tags">Add tags coming soon!</label>
        <select class="form-control" id="select-tags" disabled></select>
      </div>
      <button type="submit" id="submit-post" class="btn">Submit</button>

    </form>
    </div>
  </div>
</div>

    <script src="/js/newpost.js"></script>