    <form id="new-post-form">
      <div class="form-group">
        <label for="blogpost-title">Title:</label>
        <input type="text" class="form-control" id="blogpost-title"></input>
       <div class="invalid-feedback">
          Title must not be blank
        </div>
      </div>
      <div class="form-group">
        <label for="blogpost-body">Add a comment!</label>
        <textarea class="form-control" id="blogpost-body" rows="5"></textarea>
      </div>
       <div class="invalid-feedback">
          Post body must not be blank.
        </div>
      <div type="submit" class="btn submit-btn">Submit</button>
    </form>

    <script src="/js/newpost.js"></script>