
<nav aria-label="blogpost page navigation" class="col-12">
  <ul class="pagination justify-content-end">
    {{pagination blogpostCount page}}
  </ul>
</nav>

<div class="col-12 col-md-9">
<h3>No blog posts found</h3>
</div>