a {
  color: inherit;
}

body {
  background-color: #122008;
  color:#93d961;
}

#logo {
  height: 60px;
}

#logo-text {
  height: 100px;
}

.nav-link {
  border-radius: .25rem ;
}

.nav-link:hover {
  background-color: #73cd32;
  color: #122008;
}

.card-body.homepage {
  max-height: 6rem;
  overflow:hidden
}

.comment-count {
  color: #f08080;
}

.comment-link:hover {
  color:#e83c3c;
  text-decoration: none;
}

.blogpost-title {
  color:#73cd32;
}


.blogpost-title-link:hover {
  color:#73cd32;
  text-decoration: underline;
}

.title-date,
.comment-date {
  color:#508323;
  font-size: .8em;
}

header {
  color:#73cd32;
  background-color: #2c4f13;
  border-bottom: 4px solid #bee8a0; 
}

.card {
  
  border: 1px solid #bee8a0;
  background-color: #091004;
}

.card-header {
  border-bottom: 1px solid #bee8a0;
  background-color: #233f0f;
}

.card-footer {
  border-top: 1px solid #bee8a0;
  background-color: #233f0f;
}

.username {
  color: #81beff
}

.username:hover {
  color: #0056b3;
  text-decoration: none;
}

.list-group-item {
  background-color: inherit;
  border-color: inherit;
}

.submit-btn {
  background-color: #2c4f13;
  border:1px solid #bee8a0;
  color: #bee8a0;
}

.submit-btn:hover {
  font-weight: bold;
}

.submit-btn:active {
  font-weight: bold;
  background-color: #233f0f;
  color:#73cd32
}