:root {
  --short-max-height: 6rem;
}

a {
  color: inherit;
}

body {
  background-color: #122008;
  color:#93d961;
}

#logo {
  height: 60px;
}

#logo-text {
  height: 100px;
}

.nav-item {
  margin-inline: 5px;
}

.nav-link {
  border-radius: .25rem ;
  border:1px solid  #73cd32;
}

.nav-link:hover {
  background-color: #73cd32;
  color: #122008;
  cursor: pointer;
}


.comment-count {
  color: #f08080;
}

.comment-link:hover {
  color:#e83c3c;
  text-decoration: none;
}

.blogpost-title {
  color:#73cd32;
}


.blogpost-title-link:hover {
  color:#73cd32;
  text-decoration: underline;
}

.title-date,
.comment-date {
  color:#508323;
  font-size: .8em;
}

header {
  color:#73cd32;
  background-color: #2c4f13;
  border-bottom: 4px solid #bee8a0; 
}

.form-control ,
.form-control:focus {
  background-color: #091004;
  color:#589e26;
  border-color:#bee8a0
}

.form-control:focus,
.btn:focus {
  box-shadow: 0 0 0 0.2rem #3e6e1b;
}

.form-control:disabled,
.form-control[read-only] {
  background-color: #3e6e1b;
}

.text-muted {
  color: #508323 !important;
}

.card {
  background-color: #1b2f0c;
  border: 1px solid #bee8a0;
}

.card-header {
  border-bottom: 1px solid #bee8a0;
  background-color: #233f0f;
}

.card-body {
  padding-block: .75rem;
}

.card-header+.card-body {
  background-color: #091004;
}

.card-body.short {
  max-height: var(--short-max-height);
  overflow:hidden;
  position: relative;
}

.short>.ellipsis {
  position: absolute;
  top: calc(var(--short-max-height) - 1rem); /* If it's any higher, it shows up on posts that aren't the max height */
  left: -1.25rem;  /* 1.25rem is the padding on .card-body*/
  width: calc(100% + 1.25rem);
  height:1rem;
  background-image: linear-gradient(rgba(0,0,0,0),#589e26);
}
.card-footer {
  border-top: 1px solid #bee8a0;
  background-color: #233f0f;
}

.username {
  color: #81beff
}

.username:hover {
  color: #0056b3;
  text-decoration: none;
}

.list-group-item {
  background-color: inherit;
  border-color: inherit;
}

.btn {
  background-color: #2c4f13;
  border:1px solid #bee8a0;
  color: #bee8a0;
}

.btn:hover {
  font-weight: bold;
}

.btn:active {
  font-weight: bold;
  background-color: #233f0f;
  color:#73cd32
}